@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen'), local('Oxygen-Regular'), url(oxygen.woff) format('woff');
}
*:before{
    font-family: FontAwesome;
    font-weight: normal
}
.alft{
    text-align: left
}
.argt{
    text-align: right
}
.lft{
    float: left
}
.rgt{
    float: right
}
.w50pp{
    width: 49%
}
.w60pp{
    width: 59%
}
.w40pp{
    width: 39%
}
.w70pp{
    width: 69%
}
.w30pp{
    width: 29%
}
.pad{
    padding: 7px;
}
.flexc, .flexr{
    display: flex;
}
fieldset{
    padding: 14px;
    border: 1px #eee solid;
    margin: 14px
}
fieldset legend{
    background: #4b5558;
    color: #fff;
    padding: 2px 4px;
    font-size: 85% !important
}
label{
    display: block
}
h1{
    margin-bottom: 14px;
    max-width: 60%
}
a{
    color: #4B5558;
    text-decoration: none;
    margin:0 3px
}
a:hover{
    text-decoration: underline;
    color: #1c94c4
}
hr{
    margin: 14px 0
}
::selection{ background-color: #333; color: #FF855C}
::moz-selection{ background-color: #333; color: #FF855C}
::webkit-selection{ background-color: #333; color: #FF855C}
a.act{
    background: #FF855C;
    color: #fff
}
a.topic{
    color: #000
}
body, html{
    cursor: default;
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    color: #333;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
header{
    width: 100%;
    height: 78px;
    overflow: hidden;
    position: relative;
}
header .lt{
    border-bottom: 1px solid #CCC;
}
header .sn{
    padding: 7px 14px 7px 0;
    background: #4B5558;
    height: 22px
}
header .sn a{
    color: #fff;
    font-size: 113%
}
header nav{
    flex:1;
}
header nav ul{
    display: flex;
    justify-content: flex-end
}
.content {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 78px);
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
section, article, aside{
    height: auto;
    max-height: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    box-sizing: border-box;
}
section {
    width: 208px;
    background: #eee
}
section h3{
    font-weight: bold;
    margin: 7px 0
}
#contexts ul a{
    padding-top: 2% !important;
    padding-bottom: 2% !important
}
article {
    flex: 1;
    border-right: 1px #eee solid;
    border-left: 1px #eee solid;
}
aside {
    width: 350px;
    background: #fafafa
}
#cc{
    margin: 0 0 6px;
    width: 208px
}
#cc div{
    margin: 5px 0 0 8px;
}
#cc:hover a.config-ico{
    color: #4B5558 !important;
}
#cc h2{
    margin: 6px 0 0 6px;
    float: left;
    font-size: 100%;
}
#cc a{
    background: #FF855C;
    color: #fff;
    float: left;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #fff;
    padding: 3px
}
#cc a span{
    font-weight: bold;
    display:block;
    margin-top:3px
}
#date_line{
    padding: 0 12px 0 0;
    margin: 5px 0 9px;
    width: 100%;
    flex: 1;
}
#date_line *{
    list-style-type: none;
}
#date_line li{
    position: relative;
    float: left;
    width: 3.03%
}
#date_line a{
    border: 1px solid #999;
    float: left;
    width: 88%;
    text-align: center;
    color: #666
}
#date_line li ul{
    padding: 0;
    position: absolute;
    top: 100%;
    background: #fff;
    width: 240px;
    overflow: hidden;
    left: 7px;
    display: none;
    z-index: 100
}
#date_line li ul li{
    width: 100%;
    border-bottom: 1px solid #EEE;
}
#date_line li ul li a{
    border: none;
    width: 100%;
    text-align: left
}
#date_line .ring{
    font-weight: bold;
    background: #FDF5CE;
    border-color: #c77405;
    color: #666
}
.middle_date{
    font-weight: bold;
    color: #666 !important;
    border-bottom-width: 2px !important
}
#date_line .count{
    position: absolute;
    top: 75%;
    right: -2px;
    background: #b81900;
    font-size: 63%;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: solid 1px #cd0a0a;
    width: 11px;
    height: 11px;
    text-align: center;
    color: #fff
}
#dl_today{
    width: 5.5% !important;
}
#dl_today a{
    background: #EEE;
    color: #363636;
    margin: 0
}
.dl_month{
    font-size: 77%;
    display: block;
    margin-left: 5px;
    color: #333;
    font-weight: bold
}
#search-box{
    position: relative;
    margin-left: 208px
}
#search_results{
    position: absolute;
    top: 105%;
    background: #eee;
    padding: 3px;
    display: none;
    width: 344px;
    border-bottom: 4px #FF855C solid;
    z-index: 10
}
#search_results li{
    margin-bottom: 5px;
}
#search_results a{
    padding: 2px 1px;
    margin: 0
}
#search_results a:focus{
    text-decoration: underline;
    outline: none;
}
#search{
    width: 350px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 21px
}
#aggressive_message{
    background: #1c94c4;
    color: #fff;
    font-weight: bold;
    height: 140px;
    position: fixed;
    top: 25%;
    text-align: center;
    padding: 28px 0;
    z-index: 2000;
    width: 100%;
    display: none;
}
#aggressive_message div{
    display: table-cell;
    vertical-align: middle
}
#shortcuts{
    text-align: left;
    margin: auto;
    width: 60%
}
#contexts ul a{
    display: block;
    margin: 1px 0;
}
#contexts ul a, a.context{
    padding: 0 1.5%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #3380CC;
    position: relative
}
#contexts ul a:hover, a.context:hover{
    background: #0066cc
}
#add{
    background: #13A864;
    padding: 2% 0;
    width: 100%;
    color: #fff;
    margin: 0 0 14px 0;
    display: block;
    font-weight: bold;
    text-align: center
}
#add:hover{
    background: #8cdda0;
    text-decoration: none
}
#participants li{
    float: left
}
.public:before{
    float: right;
    content: "\f0ac";
    margin-top: 2px;
    opacity: .7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.private-lock:before{
    float: right;
    content: "\f0c0";
    margin-top: 2px;
    opacity: .7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
#timeline{
    clear: both
}

#timeline h3, .duefor h3, .topics h3{
    margin: 0;
    padding: 3px 3px 3px 7px;
}
#timeline h3, .topics h3{
    background: #4B5558;
    color: #fff
}
#timeline ul{
    border-top: 1px solid #EEE;
}
#timeline li{
    border-bottom: 1px solid #EEE;
    padding: 4px 0 14px 7px
}
#timeline li:hover{
    background: #EEE
}
#timeline-s{
    word-wrap: break-word
}
#context_breadcrumb{
    margin: 0 0 4px 0;
    padding: 2px 0 4px;
    font-size:93%;
}
#context_breadcrumb a{  
    margin: 0
}
.content form{
    width: 70%
}
form.gf input[type=text], form.gf select, form.gf textarea, form.gf input[type=file]{
}
form.gf input[type=file]{
    font-size: 85%
}
form label{
    margin: 0 0 14px 0
}
form label span{
    float: left;
    width: 40%;
}
.checkbox{
    margin-bottom: 7px
}
.checkbox span{
    float: none;
    font-size: 93%;
    font-weight: normal
}
.checkbox label{
    float: left;
    margin-right: 7px
}
.no-margin{
    margin: 0
}
#context-actions{
    float: right;
    margin: 14px 0;
    padding: 3px 7px;
}
#context-actions li{
    float: left;
    height: 23px;
}
#context-actions li a{
    height: 23px;
    vertical-align: middle
}
#context-actions li a:before, #search_results .brcr:before{
    content: "\f0da  ";
    color: #c77405
}
.cke * {
    font-size: 100% !important
}
.gf textarea{
    clear: both;
    width: 100%
}
article ul, ol, form ul, form ol{
    margin: 7px 0 7px 28px;
}
article ul, form ul{
    list-style-type: disc
}
form ul{
    padding-left: 24px
}
article ol{
    list-style-type: decimal
}
article img{
    max-width: 100%;
    height: auto
}
article p{
    margin: 7px 0
}
.mdl{
    border: 1px #999 solid;
    padding: 7px;
    background: #fff;
    -webkit-box-shadow: 9px 10px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 26px 0px rgba(0,0,0,0.75);
    display: none;
    color: #000;
    width: 250px;
}
#manage_participants_div{
    position: absolute;
    left: 4px;
    top: 3px;
}
#manage_participants_div b{
    margin-bottom: 7px;
    display: block
}
.cancel:hover{
    background-color: transparent
}
button{
    font-size: 100% !important
}
.inline{
    display: inline
}
#invite-form{
    margin: 14px 0;
    text-align: center
}
#accounts li{
    float: left
}
#tm-topics h2{
    font-weight: bold;
    margin-bottom: 7px
}
#tm-topics li.tstp{
    margin-bottom: 21px;
    border-left: 1px dashed transparent
}
#tm-topics li.tstp:hover{
    border-left-color: #CCC
}
#tm-topics h2{
    margin-left: 2%
}
#tm-topics a{
    margin: 0;
    width: 98%;
}
#tm-topics img{
    max-width: 60%
}
#move_form{
    position: absolute;
    left: -220px;
}
#move_form ul{
    margin-top: 7px
}
#move_form li:before{
    content: "\f178 "
}
#move_form li{
    float: none;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 4px
}
#all_we_are li *{
    display: block;
    margin-bottom: 4px
}
#all_we_are li{
    width: 31.6%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    border: 1px #ccc solid;
    padding: 0.5%;
    float: left
}
#all_we_are li:hover{
    background: #eee
}
#all_we_are li a{
    margin-left: 0;
    margin-right: 0
}
.duefor{
    clear: both;
    background: #fdf5ce
}
.duefor h3{
    background: #FBCB09;
    color: #FFF;
}
.duefor ul{
    border-top: 1px solid #EEE;
}
.duefor li{
    border-bottom: 1px solid #EEE;
    padding: 4px
}
.duefor li:hover{
    background: #fbeea8
}
.b_inactive{
    display: none
}
#b_task:hover .b_active{
    display: none;
}
#b_task:hover .b_inactive{
    display: inline;
}
#context-actions .closed span:before{
    content: "\f00c  "
}
#context-actions .opened span:before{
    content: "\f017  "
}
#user_options u{
    margin-top: 7px;
    border-top: 1px solid #E0E0E0
}
#user_options input{
    display: inline !important
}
#details li{
    width: 98%;
    margin-left: 2%
}
#cc_footer{
    text-align: center;
    color: #fff;
    margin: 7px 0
}
#home_info{
    width: 100%;
    height: 320px
}