@import url(https://fonts.googleapis.com/css?family=Roboto);
*:before{
    font-family: FontAwesome;
    font-weight: normal
}
.alft{
    text-align: left
}
.argt{
    text-align: right
}
.lft{
    float: left
}
.rgt{
    float: right
}
.w50pp{
    width: 49%
}
.w60pp{
    width: 59%
}
.w40pp{
    width: 39%
}
.w70pp{
    width: 69%
}
.w30pp{
    width: 29%
}
.pad{
    padding: 7px;
}
.flexc, .flexr{
    display: flex;
}
fieldset{
    padding: 14px;
    border: 1px #eee solid;
    margin: 14px 0
}
fieldset legend{
    background: #4b5558;
    color: #fff;
    padding: 2px 4px;
    font-size: 85% !important
}
label{
    display: block
}
h1{
    margin-bottom: 14px;
    max-width: 60%
}
a{
    color: #4B5558;
    text-decoration: none;
    margin:0 3px
}
a:hover{
    text-decoration: underline;
    color: #1c94c4
}
hr{
    margin: 14px 0
}
::selection{ background-color: #333; color: #FF855C}
::moz-selection{ background-color: #333; color: #FF855C}
::webkit-selection{ background-color: #333; color: #FF855C}
a.act{
    background: #FF855C;
    color: #fff
}
a.topic{
    color: #000
}
body, html{
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #333;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
header{
    width: 100%;
    height: 86px;
    position: relative;
}
header .lt{
    border-bottom: 1px solid #CCC;
}
header .sn{
    padding: 7px 14px 7px 0;
    background: #4B5558;
    height: 22px
}
header .sn a{
    color: #fff;
    font-size: 113%
}
header nav{
    flex:1;
}
header nav ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 4px
}
.content {
    display: flex;
    overflow-y: auto; /* Remove for customScrollbar. */
    /*overflow: hidden;*/ /* Use for customScrollbar. */
    height: calc(100vh - 86px);
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
section, article, aside{
    height: auto;
    max-height: 100%;
    overflow-y: auto; /* Remove for customScrollbar. */
    /*    -webkit-overflow-scrolling: touch; 
        -ms-overflow-style: none;
        box-sizing: border-box;*/ /* Use for customScrollbar. */
}
section {
    width: 208px;
    background: #eee
}
section h3{
    font-weight: bold;
    margin: 14px 0 7px 0 !important;
    padding: 0 !important;
    background: none !important
}
#contexts ul a{
    padding-top: 2% !important;
    padding-bottom: 2% !important
}
article {
    flex: 1;
    border-right: 1px #eee solid;
    border-left: 1px #eee solid;
    background: #fff;
    position: relative
}
aside {
    width: 350px;
    background: #fafafa
}
#cc{
    margin: 0 0 14px;
    width: 208px
}
#cc div{
    margin: 5px 0 0 8px;
}
#cc h2{
    margin: 6px 0 0 6px;
    float: left;
    font-size: 100%;
    font-weight: bold
}
#cc a{
    background: #FF855C;
    color: #fff;
    float: left;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #fff;
    padding: 3px
}
#cc a span{
    font-weight: bold;
    display:block;
    margin-top:5px
}
#date_line{
    padding: 0 12px 0 0;
    margin: 10px 0 9px;
    width: 100%;
    flex: 1;
}
#date_line *{
    list-style-type: none;
}
#date_line li{
    position: relative;
    float: left;
    width: 3.03%
}
#date_line a{
    border: 1px solid #999;
    float: left;
    width: 88%;
    text-align: center;
    color: #666
}
#date_line li ul{
    padding: 0;
    position: absolute;
    top: 100%;
    background: #fafafa;
    width: 240px;
    overflow: hidden;
    left: 7px;
    display: none;
    z-index: 100
}
#date_line li ul li{
    width: 100%;
    border-bottom: 1px solid #999;
    padding: 4px 0
}
#date_line li ul li:hover{
    background: #eee
}
#date_line li ul li a{
    border: none;
    width: 100%;
    text-align: left
}
#date_line li ul li a:hover{
    text-decoration: none
}
#date_line .ring{
    font-weight: bold;
    background: #FDF5CE;
    border-color: #c77405;
    color: #666
}
.middle_date{
    font-weight: bold;
    color: #666 !important;
    border-bottom-width: 3px !important
}
#date_line .count{
    position: absolute;
    top: 75%;
    right: -2px;
    background: #b81900;
    font-size: 63%;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: solid 1px #cd0a0a;
    width: 11px;
    height: 11px;
    text-align: center;
    color: #fff
}
#dl_today{
    width: 5.5% !important;
}
#dl_today a{
    background: #EEE;
    color: #363636;
    margin: 0
}
.dl_month{
    font-size: 77%;
    display: block;
    margin-left: 5px;
    color: #333;
    font-weight: bold
}
#search-box{
    position: relative;
    margin-left: 208px
}
#search_results{
    position: absolute;
    top: 105%;
    background: #eee;
    padding: 3px;
    display: none;
    width: 344px;
    border-bottom: 4px #FF855C solid;
    z-index: 10
}
#search_results li{
    margin-bottom: 5px;
}
#search_results a{
    padding: 2px 1px;
    margin: 0;
    color: #333
}
#search_results a.context{
    color: #fff
}
#search_results a:focus{
    text-decoration: underline;
    outline: none;
}
#search{
    width: 350px;
    height: 21px
}
#aggressive_message{
    background: #1c94c4;
    color: #fff;
    font-weight: bold;
    height: 140px;
    position: fixed;
    top: 25%;
    text-align: center;
    padding: 28px 0;
    z-index: 2000;
    width: 100%;
    display: none;
}
#aggressive_message div{
    display: table-cell;
    vertical-align: middle
}
#shortcuts{
    text-align: left;
    margin: auto;
    width: 60%
}
#contexts ul a{
    display: block;
    margin: 1px 0;
}
#contexts ul a, a.context{
    padding: 0 1.5%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #3380CC;
    position: relative
}
#contexts ul a:hover, a.context:hover{
    background: #0066cc
}
#add{
    background: #13A864;
    padding: 2% 0;
    width: 100%;
    color: #fff;
    margin: 0 0 14px 0;
    display: block;
    font-weight: bold;
    text-align: center
}
#add:hover{
    background: #8cdda0;
    text-decoration: none
}
#add_opt{
    background: #fafafa;
    margin-top: -13px;
    position: absolute;
    width: 210px;
    border-right: 1px #999 solid;
    border-bottom: 1px #999 solid;
    display: none;
    z-index: 10
}
#add_opt li{
    padding: 4px 0;
    width: 100%
}
#add_opt li a{
    display: block;
    width: 100%
}
#participants li{
    float: left
}
.public:before{
    float: right;
    content: "\f0ac";
    margin-top: 2px;
    opacity: .7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.private-lock:before{
    content: "\f0c0";
    margin-top: 2px;
    opacity: .7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
#timeline{
    clear: both
}
#timeline h3, .duefor h3, #files-h{
    margin: 0;
    padding: 3px 3px 3px 7px;
}
#timeline h3, .topics h3, #replies-h, #files-h{
    margin: 3px 0
}
#timeline ul{
    border-top: 1px solid #EEE;
}
#timeline li{
    border-bottom: 1px solid #EEE;
    padding: 14px 0 7px 7px
}
#timeline-s{
    word-wrap: break-word
}
#timeline-s h3, #replies-h{
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin: 21px 0 14px;
    padding: 7px 0 7px 7px;
    background: #fafafa
}
#context_breadcrumb{
    margin: 1px 0 4px 0;
    font-size:93%;
    border-bottom: 1px solid #eee
}
#context_breadcrumb a{  
    margin: 0
}
.content form{
    width: 70%
}
form.gf input[type=text], form.gf select, form.gf textarea, form.gf input[type=file]{
}
form.gf input[type=file]{
    font-size: 85%
}
form label{
    margin: 0 0 14px 0
}
form label span{
    float: left;
    width: 40%;
}
.checkbox{
    margin-bottom: 7px
}
.checkbox span{
    float: none;
    font-size: 93%;
    font-weight: normal
}
.checkbox label{
    float: left;
    margin-right: 7px
}
.no-margin{
    margin: 0 !important
}
.no-margin-top{
    margin-top: 0 !important
}
#context-actions{
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 0;
    margin: 0;
    font-size: 123.1%
}
#context-actions li{
    float: left;
    height: 23px;
}
#context-actions li a{
    height: 23px;
    vertical-align: middle
}
#context-actions li a:hover{
    text-decoration: none
}
#search_results .brcr:before{
    content: "\f0da  ";
    color: #c77405
}
.cke * {
    font-size: 100% !important
}
.gf textarea{
    clear: both;
    width: 100%
}
/* Experimental */
.description{
    -webkit-transition: height 2s ease;
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
    max-height: 200px;
    overflow: hidden
}
.description:hover{
    max-height: none;
    height: auto
}
.description ul, ol, form ul, form ol{
    margin: 7px 0 7px 28px;
}
.description ul, form ul{
    list-style-type: disc
}
.description h2, .tasks h2{
    margin: 14px 0 7px 0
}
form ul{
    padding-left: 24px
}
article ol{
    list-style-type: decimal
}
article img{
    max-width: 100%;
    height: auto
}
article p{
    margin: 7px 0
}
.mdl{
    padding: 7px;
    background: #fff;
    display: none;
    width: 250px;
}
#manage_participants_div{
    position: absolute;
    z-index: 10
}
#manage_participants_div b{
    margin-bottom: 7px;
    display: block
}
.cancel:hover{
    background-color: transparent
}
button{
    font-size: 100% !important
}
.inline{
    display: inline
}
#invite-form{
    margin: 14px 0;
    text-align: center
}
#accounts li{
    float: left
}
#tm-topics{
    padding: 0 7px
}
#tm-topics h2{
    margin-bottom: 7px
}
#tm-topics li.tstp{
    margin-bottom: 21px;
}
#tm-topics a{
    margin: 0;
    width: 98%;
}
#tm-topics img{
    max-width: 60%
}
#move_form{
    position: absolute;
    left: -220px;
    z-index: 10
}
#move_form ul{
    margin-top: 7px
}
#move_form li:before{
    content: "\f178 "
}
#move_form li{
    float: none;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 4px
}
#all_we_are{
    list-style-type: none !important
}
#all_we_are li *{
    display: block;
    margin-bottom: 4px
}
#all_we_are li{
    width: 31.6%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    border: 1px #ccc solid;
    padding: 0.5%;
    float: left
}
#all_we_are li a{
    margin-left: 0;
    margin-right: 0
}
.duefor{
    clear: both;
    background: #fdf5ce
}
.duefor h3{
    background: #FBCB09;
    color: #FFF;
}
.duefor ul{
    border-top: 1px solid #EEE;
}
.duefor li{
    border-bottom: 1px solid #EEE;
    padding: 4px
}
.b_inactive{
    display: none
}
#b_task:hover .b_active{
    display: none;
}
#b_task:hover .b_inactive{
    display: inline;
}
#context-actions .closed span:before{
    content: "\f00c  "
}
#context-actions .opened span:before{
    content: "\f017  "
}
#user_options u{
    margin-top: 7px;
    border-top: 1px solid #E0E0E0
}
#user_options input{
    display: inline !important
}
#details li{
    width: 98%;
    margin-left: 2%
}
#cc_footer{
    text-align: center;
    color: #fff;
    margin: 7px 0
}
#home_info{
    width: 100%;
    height: 320px
}
#tim-t{
    padding: 3px 4px;
    background: #eee
}
#tim-t *{
    display: inline
}
#tim-t a{
    text-decoration: none
}
.ts{
    color: #999
}
#timeline .brcr a, .duefor .brcr a, #search_results .brcr a{
    color: #3380CC;
    font-size: 85%
}
#timeline .brcr, .duefor .brcr{
    margin-bottom: 7px;
    display: block
}
.tpcdtl{
    padding: 2px 6px 2px 0;
    border-bottom: 1px dotted #eee;
    margin-top: 7px;
    font-size: 85%;
    text-align: right
}
.ts{
    color: #999
}
a.usr{
    text-decoration: underline;
}
.config-ico{
    background: transparent !important
}
.config-ico span:before{
    content: "\f085"
}
.shadow{
    -webkit-box-shadow: 3px 3px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 8px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 8px -2px rgba(0,0,0,0.75);
}
.reply:before{
    content: "\f112"
}
#move_context:before{
    content: "\f0ec"
}
#delete_topic:before, #delete_context:before{
    content: "\f014"
}
#edit_topic:before, #edit_context:before{
    content: "\f044"
}
.no-border{
    border: none !important
}
.msg{
    text-align: center;
    padding: 14px 0;
    display: none;
    margin: 7px auto;
    width: 99%;
}
#msg_ok{
    background: #E3F3DB;
    border-color: #788273;
    color: #044;
    display: block;
}
#msg_warning{
    background: #fdf5ce;
    color: #222;
    display: block;
}
#msg_error{
    background: #FCC;
    color: #800;
    display: block;
}